{% extends 'base.html.twig' %}

{% set title = project.name %}

{% block content %}
    <div v-cloak id="vue-project">
        <div data-id="{{ project.id }}">
            <tabs v-model="tab">
                <tab id="project" title="{{ 'project' | trans({}, 'projects') }}">
                    <project-tab></project-tab>
                </tab>
                <tab id="groups" title="{{ 'groups' | trans({}, 'groups') }}" :counter="projectStore.projectGroups.length + projectStore.globalGroups.length">
                    <groups-tab></groups-tab>
                </tab>
            </tabs>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('projects/view') }}
{% endblock %}

{% block styles %}
    {{ encore_entry_link_tags('groups/view') }}
{% endblock %}
