{% extends 'base.html.twig' %}

{% set title = 'groups' | trans({}, 'groups') %}

{% block content %}
    <div v-cloak id="vue-groups">
        <div class="columns">
            <div class="column">
                <datatable ref="groups" id="groups" :data="groups" paging clickable icons @icon-click="onIcon" @cell-click="viewGroup">
                    <column sortable filterable id="name">{{ 'group.name' | trans({}, 'groups') }}</column>
                    <column sortable filterable id="project" :filter-with="projectsFilter">{{ 'project' | trans({}, 'projects') }}</column>
                    <column sortable filterable id="description" wrappable>{{ 'group.description' | trans({}, 'groups') }}</column>
                    <template #toolbar>
                        <div class="buttons">
                            <button class="button" type="button" title="{{ 'button.create' | trans({}, 'buttons') }}" @click="openNewGroupDialog">
                                <span class="icon"><i class="fa fa-plus"></i></span>
                            </button>
                        </div>
                    </template>
                </datatable>
                <new-group-dialog ref="dlgNewGroup" :header="i18n['group.new']" :projects="projects" :errors="errors" @submit="createGroup"></new-group-dialog>
                <edit-group-dialog ref="dlgEditGroup" :header="i18n['group.edit']" :errors="errors" @submit="updateGroup"></edit-group-dialog>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('groups/index') }}
{% endblock %}
