{% extends 'base.html.twig' %}

{% set title = group.name %}

{% block content %}
    <div v-cloak id="vue-group">
        <div data-id="{{ group.id }}">
            <tabs v-model="tab">
                <tab id="group" title="{{ 'group' | trans({}, 'groups') }}">
                    <group-tab></group-tab>
                </tab>
                <tab id="members" title="{{ 'group.membership' | trans({}, 'groups') }}" :counter="membersStore.groupMembers.length">
                    <members-tab></members-tab>
                </tab>
            </tabs>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('groups/view') }}
{% endblock %}

{% block styles %}
    {{ encore_entry_link_tags('groups/view') }}
{% endblock %}
