<!DOCTYPE html>
<html lang="{{ app.user.locale.value ?? locale }}"
      class="{{ app.user.isDarkMode is defined ? (app.user.isDarkMode ? 'dark' : 'light') }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Issue tracking system with customizable workflows.">
        <title>{{ title ?? 'eTraxis' }}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {{ encore_entry_link_tags('font-awesome') }}
        {{ encore_entry_link_tags('light/' ~ (app.user.theme.value ?? theme)) }}
        {{ encore_entry_link_tags('dark/'  ~ (app.user.theme.value ?? theme)) }}
        {% block styles %}{% endblock %}
        {% if app.user %}
            {{ encore_entry_script_tags('navbar') }}
        {% endif %}
        {{ encore_entry_script_tags('i18n/' ~ (app.user.locale.value ?? locale)) }}
        {% block scripts %}{% endblock %}
    </head>
    <body class="is-flex is-flex-direction-column has-navbar-fixed-top">
        {% if app.user %}
            {% include 'navbar.html.twig' %}
        {% endif %}
        <main class="is-flex-grow-1">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer>
            <div class="container">
                <p class="content is-small"><strong>eTraxis</strong> &copy; 2017-2023 Artem Rodygin</p>
            </div>
        </footer>
    </body>
</html>
