{% extends 'base.html.twig' %}

{% set title = 'users' | trans %}

{% block content %}
    <div v-cloak id="vue-users">
        <div class="columns" data-id="{{ app.user.id }}" data-locale="{{ locale }}" data-timezone="{{ timezone }}">
            <div class="column">
                <datatable ref="users" id="users" :data="users" paging clickable icons checkboxes v-model:checked="checked" @icon-click="onIcon" @cell-click="viewUser">
                    <column sortable filterable id="fullname">{{ 'user.fullname' | trans }}</column>
                    <column sortable filterable id="email">{{ 'user.email' | trans }}</column>
                    <column sortable filterable id="admin" :filter-with="permissions">{{ 'user.permissions' | trans }}</column>
                    <column sortable filterable id="accountProvider" :filter-with="providers">{{ 'user.authentication' | trans }}</column>
                    <column sortable filterable id="description" wrappable>{{ 'user.description' | trans }}</column>
                    <template #toolbar>
                        <div class="buttons">
                            <button class="button" type="button" title="{{ 'button.create' | trans }}" @click="openNewUserDialog">
                                <span class="icon"><i class="fa fa-plus"></i></span>
                            </button>
                            <div class="field has-addons">
                                <div class="control">
                                    <button class="button" type="button" title="{{ 'button.disable' | trans }}" :disabled="checked.length === 0" @click="disableMultipleUsers">
                                        <span class="icon is-small"><i class="fa fa-lock"></i></span>
                                    </button>
                                </div>
                                <div class="control">
                                    <button class="button" type="button" title="{{ 'button.enable' | trans }}" :disabled="checked.length === 0" @click="enableMultipleUsers">
                                        <span class="icon is-small"><i class="fa fa-unlock-alt"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </template>
                </datatable>
                <new-user-dialog ref="dlgNewUser" :header="i18n['user.new']" :timezones="timezones" :errors="errors" @submit="createUser"></new-user-dialog>
                <edit-user-dialog ref="dlgEditUser" :header="i18n['user.edit']" :timezones="timezones" :errors="errors" @submit="updateUser"></edit-user-dialog>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('users/index') }}
{% endblock %}
