{% extends 'base.html.twig' %}

{% set title = user.fullname %}

{% block content %}
    <div v-cloak id="vue-user">
        <div data-id="{{ user.id }}">
            <tabs v-model="tab">
                <tab id="profile" title="{{ 'user.profile' | trans({}, 'users') }}">
                    <profile-tab data-id="{{ app.user.id }}"></profile-tab>
                </tab>
                <tab id="groups" title="{{ 'groups' | trans({}, 'groups') }}" :counter="groupsStore.userGroups.length">
                    <groups-tab></groups-tab>
                </tab>
            </tabs>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('users/view') }}
{% endblock %}

{% block styles %}
    {{ encore_entry_link_tags('users/view') }}
{% endblock %}
